[part~="header-cell"] {
    background-color: #cacaca;
}

tbody tr:nth-child(odd) td {
    background-color: #eee;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

table td , table th {
    border-left: 1px solid #000;
}

table td:first-child , table th:first-child  {
    border-left: none;
}