.title {
    height: 44px;
    line-height: 2.5;
}

.field {
    width: 300px;
}

.field > input {
    background-color: #fff;
    border: 1px solid #000;
}

.wrapper {
    margin: 0;
}

.dialog_btn , .create_btn , .close_btn {
    color: #3e3e3e;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px #000;
    background-color: #fff;
}

html , body {
    height: auto;
}